.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 9%;
    background-color: #6868AC;
}

.logo {
    width: 197px;
    height: 67px;
}

.logoContainer {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}
